header {
  width: 100%;
  z-index: 100;
}

body{
	font-family: 'Lato', sans-serif;
 	background-image: url(https://i.pinimg.com/564x/f2/a9/33/f2a9330922b13fd88fa2f5b93dec62d0.jpg);
	color: white;
	background-size: cover;
}

nav, scroll-container {
  display: block;
  margin: 0 auto;
}
nav {
  width: 100%;
  padding: 10px;
}

scroll-container {
  display: block;
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
scroll-page {
  display: flex;
  height: 100%;
}

section{
	background-color: #061e0245;
	height: auto;
	width: 97%;
	padding: 10px;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}


.logo{
	height: 90px;
	margin-left: 20px;
	margin-top: 10px;
} 

.cara{
	width: 30px;
}

div{
	width: 80%;
	margin-left: 90px;
	padding: 10px;
}

h1{
	font-weight: 900;
}

.yo{
	width: 150px;
	height: 150px;
}

.a{
	width: 150px;
	height: 210px;
}

.jm{
	width: 150px;
	height:164px;
}

ul{
	list-style: none;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 90px;
	width: 98%;
	text-align: center;
	overflow: hidden;
}

ul li{
	padding: 10px;
	margin-left: 5px;
	font-weight: 600;
	display: inline-block;
	font-weight: 800;
}

nav ul li:hover{
  background: #568c5d;
 }

a{
	color: #568c5d;
}

a:hover{
	color: black;
}

ul li a{
	text-decoration: none;
}

ul li a:hover{
	color: white;
}

footer{
	margin-left: auto;
	margin-top: 10px;
	margin-right: auto;
	background-color: white;
	border-radius: 90px;
	width: 20%;
	font-weight: 700;
	color: #568c5d;
	padding: 10px;
	text-align: center;

}
